<h1>welcome, {{name}}</h1>
<button (click)="clickButton()"><img [src]="imageUrl" class="image-button"/>
</button>

<div *ngIf="isLoggedIn">
  <p>Welcome back, {{name}}!</p>
  <button (click)="logout()">logout</button>
</div>

<div *ngIf="!isLoggedIn">
  <p>user is not logged in</p>
  <button (click)="login()">login</button>
</div>

<p *ngIf="isLoggedIn; else notLoggedIn"> you are logged in</p>

<ng-template #notLoggedIn>
  <p>you are NOT logged in</p>
</ng-template>

<ul>
  <li *ngFor="let item of items; let i = index">
    {{i}}: {{item}}
  </li>
</ul>

<div [ngClass]="{
  'highlight': isActive
}">
  Conditional Class
</div>

<div [ngStyle]="{'color': textColor, 'font-size': fontSize + 'px'}">
  inline style with NGStyle
</div>

