<div class="page-container">


  <div class="material-list">

    <div *ngFor="let m of material" class="material-card">
      <div class="card-content">
        <h4>
          {{m.title}}
        </h4>
        <p class="meta">{{m.course_code}} - {{m.course_name}}</p>
        <p class="meta">professor: {{m.professor}} - {{m.semester}}</p>
        <p class="description">description: {{m.description}}</p>
        <small class="card-author">by: {{m.posted_by_user.email}}</small>
      </div>

    </div>
  </div>
</div>
